{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/xanadu.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">What is this website?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Good question! In 2022, I bought an abandoned storage unit west of Los Angeles that was filled with all
          kinds of stuff.</p>

        <p>There was a lot of junk that needed to be tossed, like a bag of Reese's Pieces, two high-schoolers' scrap
          books/journals, some empty coconut shells, a half-eaten box of chocolates and LOTS of frogs (obviously dead).
          I decided to keep the cool flacon statue and fuzzy pink pen though. There also was an old Italian bicycle
          (which was stolen) and three bunny costumes (one large grey, one child pink, and one invisible) that I didn't
          think people would believe were real. Everything else is on this website ready to be sold.</p>

        <p>This is also part of my <a href="https://github.com/tomweinandy/100DaysOfCode" style="color:blue">
          #100DaysOfCode</a> project. I considered building in functionality to make purchases using the
          <a href="https://stripe.com/docs/checkout/quickstart" style="color:blue">Stripe API</a>; however, I ultimately
          decided against this because 1) I have no intention to actually sell these items and 2) did not want to link
          my bank account to what is ultimately a hobby project.</p>

      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}