/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
.navbar-b {
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 1.563rem;
  padding-bottom: 1.563rem;

  &.navbar-reduce {
    box-shadow: 0px 6px 9px 0px rgba(0,0,0,.06);
  }

  &.navbar-trans,
  &.navbar-reduce {
    .nav-item {
      position: relative;
      padding-right: 10px;
      padding-left: 0;

      @media (min-width: 768px) {
        padding-left: 10px;
      }
    }

    .nav-link {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;

      &:before {
        content: '';
        position: absolute;
        margin-left: 0px;
        width: 0%;
        bottom: 0;
        left: 0;
        height: 2px;
        transition: all 500ms ease;

        @media (min-width: 768px) {
          margin-left: 18px;
        }
      }

      &:hover {
        color: #1B1B1B;

        &:before {
          width: 35px;
        }
      }
    }

    .show>.nav-link,
    .active>.nav-link,
    .nav-link.show,
    .nav-link.active {
      &:before {
        width: 35px;
      }
    }
  }

  &.navbar-trans {
    .nav-link {
      &:before {
        background-color: #fff;
      }

      &:hover {
        color: #fff;
      }
    }

    .show>.nav-link,
    .active>.nav-link,
    .nav-link.show,
    .nav-link.active {
      color: #fff;
    }
  }

  &.navbar-reduce {
    transition: all .5s ease-in-out;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;

    .nav-link {
      color: $primary;

      &:before {
        background-color: $primary;
      }

      &:hover {
        color: $primary;
      }
    }

    .show>.nav-link,
    .active>.nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $primary;
    }

    .navbar-brand {
      color: $primary;
    }

    .navbar-toggler span {
      background-color: #1B1B1B;
    }
  }

  .navbar-brand {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
  }

  .dropdown:hover>.dropdown-menu {}

  .navbar-nav .dropdown-item.show .dropdown-menu,
  .dropdown.show .dropdown-menu,
  .dropdown-btn.show .dropdown-menu {
    transform: translate3d(0px, 0px, 0px);
    visibility: visible !important;
  }

  .dropdown-menu {
    margin: 1.12rem 0 0;
    border-radius: 0;

    .dropdown-item {
      padding: .7rem 1.7rem;
      transition: all 500ms ease;

      &:hover {
        background-color: $primary;
        color: #fff;
        transition: all 500ms ease;
      }

      &.active {
        background-color: $primary;
      }
    }
  }
}

/*--/ Hamburger Navbar /--*/
.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  transform: rotate(-135deg);
  opacity: 0.9;
}
