{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{url_for('static', filename='img/candle-stick-graph.jpg')}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>Trend Finder</h1>
					<h2 class="subheading">Discover the next big thing</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h2>Search for a topic or select a current trend below</h2>
        <br>
        {% for trend in trending.iterrows(): %}
        <a href="/topic/{{ trend[1][0].replace(' ', '%20') }}" style="color:#4682B4">{{ trend[1][0] }}</a>
        <span>   |   </span>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% include "footer.html" %}