{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/candle-stick-graph.jpg')}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>"{{topic}}"</h1>
					<h2 class="subheading">Trend Analysis</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
        <h1>Google Search Trends</h1>
        <img src="/static/img/historical.jpg" style="align-content: center">
        <br><br>
        <img src="/static/img/regions.jpg" style="align-content: center">
        <br><br>

        <h3>Related Queries</h3>
        <table class="table" style="align-content: center">
          <thead>
            <tr>
              <th scope="col">Related Query</th>
              <th scope="col">Relative Value</th>
            </tr>
          </thead>
          <tbody>
            {% for query in related.iterrows(): %}
            <tr>
              <td> <a href="{{query[1]['query']}}" style="color:#4682B4">{{query[1]['query']}}</a> </td>
              <td>{{query[1]['value']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br><br>

        <h1>Recent News Stories</h1>
            <br>
            {% if news == []: %}
                <i>There are no recent news stories on that topic</i>
                <br>
            {% endif %}

            {% for article in news: %}
                <h5><a href="{{article[1]}}" style="color:#4682B4">{{article[0]}}</a></h5>
                <p>{{article[2]}}</p>
            {% endfor %}
        <br><br>

        <h1>Recent Tweets</h1>
            <br>
            <ul>
                {% for tweet in tweets: %}
                    <li>
                        <span>
                            Sent <a href="{{tweet[1]}}" style="color:#4682B4">{{tweet[0]}}</a>
                            by @{{tweet[2]}} ({{tweet[3]}}) from {{tweet[4]}}
                        </span>
                        <br>
                        <span>{{tweet[5]}}</span>
                    </li>
                {% endfor %}
            </ul>

      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
           <hr>
          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}