body {
background-color: #e5e4e2;
color: black;
}

a {
    color: #ffc107;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    background-color: #e5e4e2;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: black;
  background-color: #e5e4e2;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}
