<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- Main Content-->
    <div>
        <hr>
        <div class="my-5">
            <!-- * * * * * * * * * * * * * * *-->
            <!-- * * SB Forms Contact Form * *-->
            <!-- * * * * * * * * * * * * * * *-->
            <!-- This form is pre-integrated with SB Forms.-->
            <!-- To make this form functional, sign up at-->
            <!-- https://startbootstrap.com/solution/contact-forms-->
            <!-- to get an API token!-->
<!--            <form id="contactForm" data-sb-form-api-token="API_TOKEN">-->
            <form action="/login" method="post">
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text" name="username" data-sb-validations="required" />
<!--                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
                    <label for="password">Password</label>
                    <input id="password" type="text" name="password" data-sb-validations="required" />
<!--                    <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>-->
                    <button id="ok" type="submit">OK</button>
                </div>
                <br />
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
<!--                <div class="d-none" id="submitSuccessMessage">-->
<!--                    <div class="text-center mb-3">-->
<!--                        <div class="fw-bolder">Form submission successful!</div>-->
<!--                        <br />-->
<!--                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
<!--                    </div>-->
<!--                </div>-->
                <!-- Submit error message-->
                <!---->
                <!-- This is what your users will see when there is-->
<!--                &lt;!&ndash; an error submitting the form&ndash;&gt;-->
<!--                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>-->
<!--                &lt;!&ndash; Submit Button&ndash;&gt;-->
<!--                <button class="btn btn-primary text-uppercase disabled" id="submitButton" type="submit">Send</button>-->
            </form>
        </div>
    </div>
</body>
</html>