{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url('{{cafe.img_url}}')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-heading">
					<h1>{{cafe.name}}</h1>
					<h2 class="subheading">{{cafe.location}}</h2>
					<span class="meta">Posted by
              <a href="#">{{cafe.coffee_price}}</a>
              on {{cafe.seats}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            {{  cafe.location|safe  }} <br>
            Has Toilets: {{cafe.has_toilet}} <br>
            Has Wifi: {{cafe.has_wifi}} <br>
            Has Sockets: {{cafe.has_sockets}} <br>
            Can Take Calls: {{cafe.can_take_calls}}
          </p>
           <hr>
           <div class="clearfix">
<!--          <a class="btn btn-primary float-right" href="{{url_for('edit_cafe', cafe_id=cafe.id)}}">Edit Cafe Details</a>-->
<!--          <a class="btn btn-primary float-right" href="{{url_for('delete_cafe', cafe_id=cafe.id)}}">Delete Cafe</a>-->
        </div>
          </div>
      </div>
    </div>
  </article>

  <hr>
{% include "footer.html" %}