{% include "header.html" %}


{% block content %}
<div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-4">☕️ Coffee & Wifi 💻</h1>
      <p class="lead">Want to work in a London café but need power and wifi?</p>
      <hr class="my-4">
      <p>You've found the right place! Checkout this collection of cafés relevant data <br>
          from power socket availability to the price of a coffee.</p>
      <a class="btn btn-warning btn-lg" href="/add-cafe" role="button">Show Me!</a>
    </div>
</div>

{% endblock %}


{% include "footer.html" %}