/*Color pallet from https://colorhunt.co/palette/f6f6f6d6e4f01e56a0163172*/
/*Color pallet backup https://colorhunt.co/palette/07689fa2d5f2fafafaff7e67*/

:root {
    --background-color: #F6F6F6;
    --light-color: #D6E4F0;
    --bright-color: #1E56A0;
    --dark-color: #163172;
}


body {
    background-color: var(--background-color);
    font-family: 'Montserrat', serif;
    margin: 0;
    text-align: center;
}

div{
    margin: 0;
    background-color: var(--light-color)
}

hr {
    border-color: var(--bright-color);
    border-style: dotted none none;
    border-width: 6px;
    width: 6%;
}
h1 {
    color: var(--bright-color);
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 0 auto 0 auto;
    padding-top: 5%;
    /*padding: 10px;*/
    /*width: 10%;*/
}
h2 {
    color: var(--bright-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

/************** CLASS SELECTORS *****************/
.bottom-cloud {
    position: absolute;
    top: 250px;
    left: 300px;
}

.circular {
    border-radius: 100%;
}

.top-container {
    /*padding: 20px;*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*border: 10px solid;*/
    /*position: absolute;*/
    /*left: 200px;*/
    /*top: 200px;*/
}
.middle-container {
    /*height: 200px;*/
    /*width: 200px;*/
    /*background-color: red;*/
    /*border: 20px solid;*/
    /*margin-left: 260px;*/
    /*position: absolute;*/
    /*left: 400px;*/
    /*top: 400px;*/
}
.bottom-container {
    /*height: 200px;*/
    /*width: 200px;*/
    /*background-color: blue;*/
    /*border: 10px solid;*/
    /*margin-left: 500px;*/
    /*position: relative;*/
    /*left: 400px;*/
    /*bottom: 400px;*/
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}